body {
	background-color: #D5DCDE;
	color: black;
	font-family: Verdana;
	font-size: 1em;
	min-width: 300px;
	line-height: 1;
	box-sizing: border-box;
}
header{
	background-color: #4D93AB;
}
#logo{
	color: #FFFFFF;
}

.nav li a{
	font-size: 1.2em;

}
.nav{
	text-align: left;
}

div {
	box-sizing: border-box;
	margin-top: 10px;
}

code {
	font-family: monospace;
}

pre {
	display: block;
	font-family: Verdana;
	white-space: pre;
	margin: 1em 0;
}

kbd {
	font-family: "Times New Roman";
}

p {
	font-family: Arial;
	margin-bottom: 2em;
	margin-top: 2em;
	line-height: 1.2;
}

.square {
	list-style-type: square;
}

.rien {
	list-style-type: none;
}

.textgauche {
	text-align: left;
}

.textdroit {
	text-align: right;
}

.textcenter {
	text-align: center;
}

.textjustifie {
	text-align: justify;
}

.textmajuscules {
	text-transform: uppercase;
}

.textminuscules {
	text-transform: lowercase;
}
img {
	width: 100%;
	height: auto;
}

.table {
	background-color: #FFFFFF;
	border: 1px solid #4D93AB;
	margin: 0 0 50px 0;
}

.table th, .table  {
	padding: 5px;
	font-weight: bolder;
	text-align: center;
}

.table td, .table tbody tr{
	border-bottom: 1px solid #5858FB;
	padding: 5px;
	text-align: center;
}

.table tr:last-child td {
	border: 0;
}

article {
	box-sizing: border-box;
}

.title{
	border-bottom: 1px solid  #4A7685;
	color:#0D69A6;
}

.center{
	background-color: #C3D5DB ;
	border: 3px solid #4A7685;
	border-radius: 3px;
	height:600px;
	box-sizing : border-box;
}

.validate{
	margin-top:20px;
}
.milieu{
	margin: 20px;
}

.space{
	margin: 20px;
}


input {
	/* styles de caractères */
	font-family: Verdana ,Geneva, sans-serif;
	font-size: 14px; 
	color: #4b4b4b; 
	/* marge et taille */
	width: 190px; 
	height: 35px; 
	padding: 5px 10px 0px 10px; 
	margin: 0 0 10px 0;
	/* couleur de fond */
	background: #f1f2f4;
	/* bordures */
	border:1px solid #b6b7b9;
	border-radius: 5px;

}



label {
	/* positionnement marge et taille */
	float:left; 
	clear: left;
	margin: 10px 20px 0 0;
	width: 150px;
	/* styles de caractères */
	font-family:Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #445668;
	text-align: left; 
}




.foot{
	height:100px;
	background-color: #4D93AB;
	
}

@media screen and ( min-width: 50em){

	.center{
		height: 450px;
	}
	label{
		text-align: right;
	}
	

}

@media screen and ( min-width: 70em){

	.center{
		height: 550px;
	}

}

section > div > img{
	border: 1px solid black;
}

.content{
	border: 1px solid #4A7685;
	border-radius: 2px;
	height: 500px;
}

.connexion{

	background-color: #C3D5DB ;
	border: 3px solid #4A7685;
	border-radius: 3px;
	height:300px;
	margin:20px;
}